<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrapValidator.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/conadd.css}">

    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/WdatePicker.js}"></script>

    <script>

        $(function () {
            // $('#myform').bootstrapValidator({
            //     feedbackIcons: {
            //         //根据验证结果显示的各种图标
            //         valid: 'glyphicon glyphicon-ok',
            //         invalid: 'glyphicon glyphicon-remove',
            //         validating: 'glyphicon glyphicon-refresh'
            //     },
            //     fields: {
            //         BRS007: {
            //             validators: {
            //                 notEmpty: {
            //                     message: '请选择联系人'
            //                 }
            //             }
            //         },
            //         BRS005: {
            //             validators: {
            //                 notEmpty: {
            //                     message: '请选择沟通方式'
            //                 }
            //             }
            //         },
            //         BRS004: {
            //             validators: {
            //                 notEmpty: {
            //                     message: '请选择下次联系日期'
            //                 }
            //             }
            //         },
            //         BRS006: {
            //             validators: {
            //                 notEmpty: {
            //                     message: '请填写沟通内容'
            //                 }
            //             }
            //         }
            //     }
            // });
        })

        function closeThis() {
            var index = parent.layer.getFrameIndex(window.name)
            parent.layer.close(index)
        }

        function saveThis() {
            var userName = $("#BRS007");
            if (userName.val() == "") {
                layer.msg("请选择联系人");
                return false;
            }
            var userModel = $("#BRS005");
            if (userModel.val() == "") {
                layer.msg("请选择沟通方式");
                return false;
            }
            var dateNext = $("#BRS004");
            if (dateNext.val() == "") {
                layer.msg("请选择下次联系日期");
                return false;
            }
            var brs006 = $("#BRS006");
            if (brs006.val() == "") {
                layer.msg("请录入沟通内容");
                return false;
            }
        }

        var formData =  function  () {
            // $("#myform").bootstrapValidator('validate');
            // if ($("#myform").data('bootstrapValidator').isValid()==false) {
            //     //获取验证结果，如果成功，执行下面代码
            //     return;
            // }
            if(saveThis()==false)
                return;
              var url = 'customBrsFind?customId='+$("#customId").val()+'&' +
                  'oddNum='+$("#oddNum").val()+'&' +
                  'BRS007='+$("#BRS007").val()+'&' +
                  'BRS005='+$("#BRS005").val()+'&' +
                  'BRS003='+$("#BRS003").val()+'&'+
                  'BRS004='+$("#BRS004").val()+'&'+
                  'BRS006='+$("#BRS006").val()+'&'+
                  'id='+$("#id").val()+'';
              var data = {
                  data:url
              };
              return data;
          }

    </script>

</head>
<body>
<div class="container">
    <form class="form-inline" id="myform" method="post">
        <div class="form-group">
            <label>客户编号</label>
            <input type="text" class="form-control" id="customId" name="customId" readonly="readonly">
        </div>
        <div class="form-group">
            <label style="margin-left: 57px">单号</label>
            <input type="text" th:value="${data}" class="form-control" id="oddNum" name="oddNum" readonly="readonly">

        </div>
        <br>
        <div class="form-group">
            <label style="margin-left: 15px">联系人</label>
            <select class="form-control" id="BRS007" name="BRS007" style="width: 180px;height: 30px;margin: 5px;">
                <option></option>
                <option th:each="c:${all}" th:value="${c}" th:text="${c}"></option>
            </select>
        </div>
        <div class="form-group">
            <label style="margin-left: 27px">沟通方式</label>
            <select class="form-control" id="BRS005" name="BRS005" style="width: 180px;height: 30px;margin: 5px;">
                <option></option>
                <option>电话</option>
                <option>邮箱</option>
                <option>微信</option>
                <option>其他</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label>联系日期</label>
            <input type="text" readonly="readonly" class="form-control" id="BRS003" name="BRS003" th:value="${date}"

                   onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true,maxDate:'#F{$dp.$D(\'BRS004\')}'})">
        </div>
        <div class="form-group">
            <label>下次联系日期</label>
            <input type="text" class="form-control" id="BRS004" name="BRS004" style="width: 180px"
                   onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true,minDate:'#F{$dp.$D(\'BRS003\')}'})">
        </div>
        <div class="form-group">
            <label>沟通内容</label>
            <textarea class="form-control" id="BRS006" name="BRS006"
                      style="margin-left: 5px;margin-top: 7px;width: 465px;height: 200px"></textarea>
        </div>
        <div hidden="hidden"><input hidden="hidden" id="id" name="id"></div>
    </form>
</div>

</body>
</html>
