<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap-theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrapValidator.css}">

    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/WdatePicker.js}"></script>


    <script>
        function queryInfo() {
            var saleman = $("#saleman");
            if (saleman.val() == "") {
                layer.msg("请选择业务员");
                return false;
            }
            var dtrans=$("#dtrans");
            if(dtrans.val()==""){
                layer.msg("请选择起始联系日期");
                return false;
            }

            var dtrane=$("#dtrane");
            if(dtrane.val()==""){
                layer.msg("请选择起始联系日期");
                return false;
            }
        }
        
        var formDate=function () {
            if(queryInfo()==false)
                return;
            var url='customtrans?CUS012='+$("#saleman").val()+'&'+'BRS003='+$("#dtrans").val()+'&'+'BRS0031='+$("#dtrane").val()+'';
            var data={
                data:url
            }
            return data;
        }
    </script>

</head>
<body>

<div class="container">
    <form class="form-inline" id="myform" method="post" style="margin-top: 20px">

        <div class="form-group" style="margin-top: 10px">
            <label for="saleman">业务员 </label>
            <select class="form-control" id="saleman" name="saleman" style="width: 200px">
                <option></option>
                <option th:each="c:${userSales}" th:value="${c}" th:text="${c}"></option>
            </select>
        </div>

        <div class="form-group" style="margin-top: 10px;margin-left: 20px">
            <label for="dtrans">联系起始日期 </label>
            <input type="text" class="form-control" id="dtrans" name="dtrans" style="width: 100px"
                   onclick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})">
        </div>

        <div class="form-group" style="margin-top: 10px;margin-left: 20px">
            <label for="dtrans">结束日期 </label>
            <input type="text" class="form-control" id="dtrane" name="dtrane" style="width: 100px"
                   onclick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd',alwaysUseStartDate:true})">
        </div>

    </form>
</div>


</body>
</html>