@CHARSET "UTF-8";

.form-inline {

    margin-top: 3%;
    margin-left: 50px;
}

.form-group input {
    width: 180px;
    height: 30px;
    margin: 5px;
}


.subtn input {
    width: 50px; /* 宽度 */
    height: 20px; /* 高度 */
    margin-top: 2px;
    margin-left: 15px;
    border-width: 0px; /* 边框宽度 */
    border-radius: 5px; /* 边框半径 */
    background: #42C2CF; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white;
    font-size: 12px; /* 字体大小 */
    line-height: 2px;
    hover: #A5BED9;
}